body {
  background: url("../assets/BannerPolibus720.jpg");
  color: #d3d3d3;
  font-family: Arial, sans-serif;
  padding: 4rem;
  margin: 0;
  box-sizing: border-box;
  position: relative;
}

body::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.85);
  z-index: -1;
  pointer-events: none;
}

.container {
  max-width: 900px;
  margin: auto;
  padding: 2rem;
  border-radius: 12px;
  backdrop-filter: blur(8px);
  border: 1px solid #7e7e7e;
  background-color: rgba(255, 255, 255, 0.05);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

h1 {
  font-size: 24px;
  margin-bottom: 1.5rem;
  text-align: center;
  color: #d3d3d3;
}
input.button {
  text-decoration: none;
  padding: 10px 20px;
  background-color: #48578e;
  color: white;
  border-radius: 5px;
  transition: background-color 0.3s ease, transform 0.2s ease;
  font-size: 14px;
  border: 1px solid transparent;
  justify-content: center;
}
input.button:hover {
  background-color: #71a8df;
  transform: scale(1.05);
}
button.button{
  text-decoration: none;
  padding: 10px 20px;
  background-color: #48578e;
  color: white;
  border-radius: 5px;
  transition: background-color 0.3s ease, transform 0.2s ease;
  font-size: 14px;
  border: 1px solid transparent;
  justify-content: center;
}
button.button:hover {
  background-color: #71a8df;
  transform: scale(1.05);
}

.button-container {
  display: flex;
  justify-content: flex-end;
}

a.button {
  text-align: center;
  text-decoration: none;
  padding: 10px 20px;
  background-color: #48578e;
  color: white;
  border-radius: 5px;
  transition: background-color 0.3s ease, transform 0.2s ease;
  font-size: 14px;
  border: 1px solid transparent;
  margin-top: 10px;
}

a.button:hover {
  background-color: #71a8df;
  transform: scale(1.05);
}


/* Estilo general para el formulario */
.styled-form {
  max-width: 400px;
  margin: 0 auto;
  padding: 20px;
  background-color: #f8f9fa;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  font-family: Arial, sans-serif;
  display: flex;
  flex-direction: column;
}

/* Estilo de las etiquetas */
.styled-form label {
  display: block;
  margin-bottom: 5px;
  color: #333;
  font-weight: bold;
}

/* Estilo de los campos de entrada */
.styled-form input[type="date"],
.styled-form input[type="time"],
.styled-form input[type="number"],
.styled-form input[type="hidden"],
.styled-form input[type="text"],
.styled-form input[type="email"],
.styled-form input[type="password"]{
  width: 100%;
  padding: 10px;
  margin-bottom: 15px;
  border: 1px solid #ddd;
  border-radius: 5px;
  box-sizing: border-box;
  font-size: 16px;
}

/* Forzar color negro en las opciones de Select2 */
.select2-container--default .select2-selection--multiple .select2-selection__choice {
  color: black !important; /* Color negro para las etiquetas seleccionadas */
}

/* Estilo de las opciones en el menú desplegable */
.select2-container--default .select2-results__option {
  color: black !important; /* Color negro para el texto de cada opción */
}

